version: "3.9"

services:
  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
  rabbitmq:
    image: "rabbitmq:latest"
    ports:
      - "5672:5672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=mypass
  worker:
    image: "worker"
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - BROKER_URL=amqp://admin:mypass@rabbitmq:5672//
      - RESULT_BACKEND=redis://redis:6379/0
      - C_FORCE_ROOT=true
    volumes:
      - ./:/app/
    depends_on:
      - redis
      - rabbitmq
  flower:
    image: "mher/flower:latest"
    environment:
      - CELERY_BROKER_URL=amqp://admin:mypass@rabbitmq:5672
      - FLOWER_PORT=8888
    ports:
      - 8889:8888
    depends_on:
      - rabbitmq
